-d 1d4 -f "Potion of Growth|For the duration of this potion the target’s size is doubled in all dimensions. In addition, the target has advantage on all Strength checks and Strength saving throws. The target’s weapons also grow to match its new size. While these weapons are enlarged, the target’s attacks with them do 1d4 extra damage."
