-d -1d4 -f "Potion of Diminution|For the duration of this potion the target’s size is halved in all dimensions. In addition, the target has disadvantage on all Strength checks and Strength saving throws. The target’s weapons also shrink to match its new size. While these weapons are reduced, the target’s attacks with them do 1d4 less damage (does not reduce it below 1)."
